hexelslashheroes/Assembly-CSharp-vs.csproj
hexelslashheroes/Assembly-CSharp.csproj
hexelslashheroes/hexelslashheroes-csharp.sln
hexelslashheroes/hexelslashheroes.sln
hexelslashheroes/hexelslashheroes.userprefs
build
hexelslashheroes/Library/
hexelslashheroes/Temp/
hexelslashheroes/ProjectSettings/
hexelslashheroes/Assembly-CSharp-Editor-vs.csproj
hexelslashheroes/Assembly-CSharp-Editor.csproj
hexelslashheroes/Assembly-CSharp-firstpass-vs.csproj
hexelslashheroes/Assembly-CSharp-firstpass.csproj
